absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1673535674859/work
aiohttp @ file:///work/ci_py311/aiohttp_1676827623103/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
astor==0.8.1
async-timeout @ file:///work/ci_py311/async-timeout_1676826962453/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1681349778161/work
Bottleneck @ file:///work/ci_py311/bottleneck_1676827011612/work
brotlipy==0.7.0
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1688227447901/work
certifi @ file:///croot/certifi_1683875369620/work/certifi
cffi @ file:///work/ci_py311/cffi_1676822533496/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
cloudpickle==2.2.1
colorama==0.4.6
contextlib2==21.6.0
contourpy @ file:///work/ci_py311/contourpy_1676827066340/work
cryptography @ file:///croot/cryptography_1686613057838/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
filelock @ file:///work/ci_py311/filelock_1676823024085/work
fonttools==4.25.0
frozenlist @ file:///work/ci_py311/frozenlist_1676825229010/work
gmpy2 @ file:///work/ci_py311/gmpy2_1676839849213/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1687803976964/work
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1688235217226/work
grpcio @ file:///croot/grpc-suite_1685746860162/work
idna @ file:///work/ci_py311/idna_1676822698822/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1687138353019/work
iniconfig==2.0.0
Jinja2 @ file:///work/ci_py311/jinja2_1676823587943/work
joblib @ file:///croot/joblib_1685113087166/work
json-tricks==3.17.1
kiwisolver @ file:///work/ci_py311/kiwisolver_1676827230232/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1679584000376/work
MarkupSafe @ file:///work/ci_py311/markupsafe_1676823507015/work
matplotlib @ file:///croot/matplotlib-suite_1679593461707/work
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
mpmath==1.2.1
multidict @ file:///work/ci_py311/multidict_1676825314105/work
munkres==1.1.4
networkx @ file:///croot/networkx_1678964333703/work
nni==2.10.1
numexpr @ file:///croot/numexpr_1683221822650/work
numpy @ file:///croot/numpy_and_numpy_base_1687466208449/work
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
packaging @ file:///croot/packaging_1678965309396/work
pandas==1.5.3
Pillow==9.4.0
pluggy==1.2.0
ply==3.11
prettytable==3.8.0
protobuf==3.20.3
psutil==5.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1683676063469/work
pyOpenSSL @ file:///croot/pyopenssl_1678965284384/work
pyparsing @ file:///work/ci_py311/pyparsing_1677811559502/work
PyQt5-sip==12.11.0
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
pytest==7.4.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
PythonWebHDFS==0.2.3
pytz @ file:///work/ci_py311/pytz_1676825004346/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyYAML==6.0
requests @ file:///croot/requests_1682607517574/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1643557462909/work
responses==0.23.1
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
schema==0.7.5
scikit-learn @ file:///croot/scikit-learn_1684954695550/work
scipy==1.9.3
simplejson==3.19.1
sip @ file:///work/ci_py311/sip_1676825117084/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sympy @ file:///work/ci_py311_2/sympy_1679339311852/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1683288318191/work/tensorboard-2.13.0-py3-none-any.whl#sha256=ab69961ebddbddc83f5fa2ff9233572bdad5b883778c35e4fe94bf1798bd8481
tensorboard-data-server @ file:///croot/tensorboard-data-server_1681498183723/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado @ file:///work/ci_py311/tornado_1676823418767/work
tqdm==4.65.0
triton==2.0.0
typeguard==2.13.3
types-PyYAML==6.0.12.10
typing_extensions @ file:///croot/typing_extensions_1686601443660/work
urllib3 @ file:///croot/urllib3_1686163155763/work
wcwidth==0.2.6
websockets==11.0.3
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1686273693854/work
yarl @ file:///work/ci_py311/yarl_1676827604591/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
